@charset "UTF-8";

body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	line-height: 1.6;
	color: #333;
	background-color: rgb(245, 245, 245);
	font-family: "Lato", sans-serif;
	padding-top: 60px;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9;
}

.title-image {
	/* 画像を背景に設定 */
	background-image: url(../images/tsuta.jpg);
	background-position:center top;
	z-index: 9;
	top: 0;  
	left: 0;  
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-txt {
	padding-bottom: 40px;
	padding-top: 30px;
	font-size: 50px;
	text-align: center;
	background-color: rgb(55, 116, 45);
	color: white;
	z-index: 6;
	width:100%;
	color: white;
	font-weight:bold;
	font-size:56px;
}

.sidebar {
	height: 100%;
	width: 280px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 80px;
	transform: translateX(-280px);
	z-index: 10;
}

.sidebar td, .sidebar h2, .sidebar p {
	color: lightgrey;
	padding-left: 15px;
}

.sidebar h2 {
	text-decoration: underline;
}

.sidebar a {
	padding: 8px 8px 8px 30px;
	text-decoration: none;
	font-size: 25px;
	color: lightgrey;
	display: block;
	transition: 0.3s;
}

.sidebar a:hover {
	color: white;
	text-decoration: underline;
	font-weight: bold;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.side-menu {
	padding-top: 15px;
}

.user-name {
	font-size: 30px;
}

.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
	position: fixed;
	top: 50px;
	left: 0;
	display: block;
	z-index: 10;
}

.openbtn:hover {
	background-color: #444;
}

.archives {
	font-size: 14px !important;
}

.archives:hover {
	text-decoration: underline;
	font-size: 15px !important;
}

.pagination ul {
	width: 60%;
	display: block;
	justify-content: space-evenly;
	list-style: none;
}

.pagination a {
	font-size: 20px;
	display: contents;
	text-align: center;
	text-decoration: none;
}

.pagination a:hover {
	font-size: 22px;
	display: contents;
	text-align: center;
	text-decoration: underline;
}

#main {
	transition: margin-left .5s;
	padding: 16px;
}

.content-text {
	background-color: black;
	color: white;
	text-align: center;
}

.top-view {
	height: 100vh;
	background-repeat: no-repeat;
	background-position: top;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: flex-end; /* 子要素を上端に寄せる */
	margin:0 auto;
}
.top-view-text {
    opacity: 0; /* 初期状態では透明にします */
    animation: fadeIn 2.5s forwards; /* fadeInというアニメーションを1.5秒間で実行し、終了状態を保持します */
}

@keyframes fadeIn {
    to {
        opacity: 1; /* 最終的には完全に不透明にします */
    }
}

.myImg {
	width: 300px;
	height: auto;
}

#schedule {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.ticket-amount-box {
	width: 80px;
}

.description-title {
	text-decoration: underline;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}

.image-container:hover {
	background-color: rgb(193, 210, 45);
	transform: scale(1.05); /* ホバー時に画像と説明文を5%大きくします */
	transition: transform 0.3s ease-in-out; /* 拡大を0.3秒でスムーズにします */

}
.image-container{
		transition: transform 0.2s ease-out;
}
.image-container img {
    opacity: 0; /* 初期状態では透明にします */
    animation: fadeInMoveUp 2.5s forwards; /* fadeInMoveUpというアニメーションを2.5秒間で実行し、終了状態を保持します */
}

.description {
    width: 35ch; /* 一行あたりの文字数を設定 */
    word-wrap: break-word; /* 文字数が上限を超えた場合に折り返す */
    opacity: 0; /* 初期状態では透明にします */
    animation: fadeInMoveUp 3s forwards; /* fadeInMoveUpというアニメーションを3.5秒間で実行し、終了状態を保持します */
}

@keyframes fadeInMoveUp {
    0% {
        opacity: 0;
        transform: translateY(70px); /* 初期状態では20px下に移動しています */
    }
    100% {
        opacity: 1; /* 最終的には完全に不透明にします */
        transform: translateY(0); /* 最終的には元の位置に戻ります */
    }
}

